classes/
target/
build/
build_eclipse/
out/
.gradle/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
patch-process/*
.idea
.svn
.classpath
/.metadata
/.recommenders
*~
*#
.#*
rat.out
TAGS
*.iml
.project
.settings
*.ipr
*.iws
.vagrant
Vagrantfile.local
logs/*
.DS_Store

config/server-*
config/zookeeper-*
core/data/*
gradle/wrapper/*
gradlew
gradlew.bat

results
tests/results
.ducktape
tests/.ducktape
tests/venv
.cache

docs/generated/

.release-settings.com.unistack.tamboo.commons.json
.gitignore.swp
flume.tar.gz

tamboo-thirdparty/apps/
checkpoint
receivedBlockMetadata
spark-warehouse
temp
tmp
logs/
/tamboo-message/tamboo-message.iml
/tamboo-management/tamboo-management.iml
/tamboo-kafkaclient/tamboo-kafkaclient.iml
/tamboo-dist/tamboo-dist.iml
/tamboo-commons/tamboo-commons.iml
/tamboo-collector/tamboo-collector.iml
/tamboo-calc/tamboo-calc.iml
tamboo-sa.iml
